/************************Global************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/************************App.js************************/
.App-body {
  text-align: center;
  margin: 0 10px;
  min-height: 75vh;
}


/************************Countries.js************************/
.pageButton:hover {
  background-color: #61DAFB;
}

.page-buttons-div {
  margin-top: 10px;
}

.prev-lbutton {
  float: left;
}

.next-rbutton {
  float: right;
}

.pb-length {
  width: 90px;
}

.page-buttons-divbottom {
  margin-top: 20px;
  margin-bottom: 40px;
}

.countries {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.country-div {
  word-wrap: break-word;
  min-width: 120px;
  max-width: 450px;
  margin: 15px 5px;
  padding: 10px;
  height: 380px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 1px 2px 13px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 13px 0px rgba(0,0,0,0.75);
}

.trow {
  text-align: left;
}

.trow > td {
  font-size: small;
  padding-left: 15px;
}

.trow > td:nth-child(2) {
  color: #C51162;
  font-weight: 700;
  padding-left: 25px;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.country {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.country-div:hover {
  padding: 7px;
  box-shadow: 1px 2px 13px 0px rgb(229, 127, 255);
  -webkit-box-shadow: 1px 2px 13px 0px rgb(229, 127, 255);
  -moz-box-shadow: 1px 2px 13px 0px rgb(229, 127, 255);
}


/*********************CountriesList.js*********************/
#countriesDLInput {
  margin-top: 5px;
  padding: 5px;
  height: 30px;
  width: 200px;
  font-size: 1.1em;
  font-weight: 400;
  background-color: rgb(212, 212, 212);
  text-align: center;
}


/************************Navbar.js************************/
.nav-header{
  background-color: rgb(99, 99, 99);
  padding-top: 3px;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #61DAFB;
  cursor: pointer;
  border-bottom: #000 2px solid;
}

.navbar-links {
  background-color: rgb(99, 99, 99);
  padding-top: 3px;
  font-weight: 600;
  font-size: 1.1em;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.links-in-navbar {
  text-decoration: none;
  color: rgb(255, 0, 242);
}

.links-in-navbar:hover {
  color: rgb(0, 217, 255);
}

.links-in-navbar:active {
  color: yellow;
}


/************************media queries************************/

/* Extra small devices (phones, 630px and down) */
@media only screen and (max-width: 630px) {
  .countries {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .invisible {
    display: none;
  }

  .navbar-links {
    background-color: rgb(99, 99, 99);
    font-weight: 600;
    font-size: 1.1em;
    height: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: #000 2px solid;
  }

} 
/* end Extra small devices */

/* Small devices (portrait tablets and large phones, 630px and up) */
@media only screen and (min-width: 631px) {
  .nav-header {
    display: none;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
